* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(141, 151, 160);
  height: 100vh;
}

nav {
  text-align: right;
  padding: 10px;
  padding-top: 20px;
}

.navi {
  text-decoration: none;
  background-color: gray;
}

a {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  padding: 13px;
}
a:hover {
  background-color: hsl(31, 77%, 52%);
}

main {
  display: grid;
  margin: 0 auto;
  gap: 10px;
  max-width: 960px;
  grid-template-columns: auto auto auto;
  grid-auto-rows: minmax(100px auto);
  /* grid-template-areas:
    "a a a b"
    "a a a b"
    "c d d d"
    "c e e e"; */
}

main * {
  /* text-align: center;
  color: white;
  align-items: center; */
  padding: 4rem;
}

.one {
  background-color: rgb(79, 22, 41);
  grid-column: 1/3;
  grid-row: 1/3;
  /* grid-area: a; */
}

.two {
  background-color: rgb(206, 206, 44);
  grid-column: 3/4;
  grid-row: 1/3;
  /* grid-area: b; */
}

.three {
  background-color: green;
  grid-column: 1/2;
  grid-row: 3/5;
  /* grid-area: c; */
}

.four {
  background-color: rgb(17, 39, 61);
  grid-column: 2/4;
  grid-row: 3/4;
  /* grid-area: d; */
}

.five {
  background-color: rgb(17, 39, 61);
  grid-column: 2/4;
  grid-row: 4/5;
  /* grid-area: e; */
}
